
a{
    text-decoration: none;
    color:#000;
}
body, main{
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color:#000;
    position: relative;
}

header,footer{
    background-color: rosybrown;
}

/******************* Header ******************/

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

header .login{
    padding: 20px;
    vertical-align: middle;
}

/******************* Footer ******************/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0%;
    position: sticky;
    bottom: 0;
}


footer img{
    width: 20px;
    height: 20px;
}
.social-media-icons{
    margin-right: 1%;
}

.copyright{
    font-size: 10px;
    color:#000;
    text-align: center;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

.contact-us{
    margin-left: 1%;
}
