
*{
    scroll-behavior: smooth;
}

/*                   Content                  */

.hotel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.hotel-description{
    background-color:rgb(132,136,139);
    margin: 2% 3%;
    width: 40%;
    height: auto;
}

.hotel-description a{
    text-decoration: none;
    color: #000;
}

.hotel-container img{
    width: 250px;
    height: 200px;
}
.content .views{
    padding: 15px 0;
    margin-top: 80px;
}


.content .views ul{
    list-style: none;
    text-align: center;
    margin:0 auto;
    padding: 0;
}
.content .views ul li {
    display: inline;
}
.content .views ul li a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
   padding: 10px 20px;
}

.map{
    display: none;
}



